#root {
    background-color: white;
    width: 100%;
}
.Cont-Proy {
  width: 500px;
  padding: 10px;
  background-color: rgb(196, 233, 67);
  border: 4px;
  border-style: solid;
  border-color: rgb(191, 238, 20);
  border-radius: 5px;
  box-shadow: 0 4px 6px rgb(93, 93, 93);
  margin: 15px;
}

.filtro {
  display: block;
  align-items: center;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding-right: 15px;
}
.contenedor-main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
}